{% extends "base.html" %}

{% block content %}

<style>
    .edit-btn{
        margin-right: 20px;
        margin-top: 0px;
    }

</style>

<div class="row mt-4">
    <div class="col">

        <div class="right"><h4>New List</h4></div>
        <form action="add_todolist/" method="post" class="form-inline">
            {% csrf_token %}
            <input type="text" name="content" class="form-control mb-3 mr-sm-2" placeholder="Type list name here">
            <button type="submit" class="btn btn-primary mb-3">Add</button>
        </form>
    </div>
</div>

<div class="row mt-4">
    <div class="col">
        <div class="right"><h4 style="">To-Do Lists</h4></div>
        <div class="list-group">

            {% for todo_list in user.todolist.all %}

            <a href="/{{todo_list.id}}" class="list-group-item list-group-item-action">{{ todo_list.name }}</a>

            {% endfor %}

        </div>
    </div>
</div>
{% endblock content %}